body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    width: 500px;
    background-color: rgb(223, 245, 255);
    padding: 10px;
}