.Header_wrap {
    background-color: #E7EAEF;
    height: 60px;
    display: flex;
    align-items: center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 16px;

        .right {
            display: flex;
            gap: 16px;
        }

        .menu,
        .search,
        .shopping_bag {
            width: 24px;
            height: 24px;
        }

        .logo {
            width: 78px;
            height: 32px;
            position: absolute;
            right: calc(50% - 39px);
        }
    }

    .header img {
        cursor: pointer;
    }
}

.Homepage_wrap {
    .section1 {
        position: relative;

        img {
            display: block;

        }

        h1,
        p {
            font-size: 40px;
            position: absolute;
            color: #333333;
            left: 10%;
            opacity: 0.7;
            line-height: 1;
        }

        h1 {
            top: 35%;
            font-weight: 400;
        }

        p {
            top: 45%;
            font-family: 'Bodoni Moda', serif;
            font-weight: bold;
            font-style: italic;
            margin-top: -15px;
        }

        button {
            position: absolute;
            top: 85%;
            left: calc(50% - 122px);
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            color: #fff;
            width: 253px;
            height: 40px;
            font-family: 'Tenor Sans', sans-serif;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .section2 {
        background-color: #fff;
        margin-top: 30px;

        .select {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            font-family: 'Tenor Sans', sans-serif;
        }

        .new_arrival {
            margin-top: 25px;

            img {
                width: 165px;
                height: 200px;
            }

            .new_arrival1,
            .new_arrival2 {
                display: flex;
                justify-self: center;
                align-items: center;
            }

            .arrival1,
            .arrival3 {
                margin-right: 15px;
            }

            .arrival1,
            .arrival2,
            .arrival3,
            .arrival4 {
                display: flex;
                justify-self: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 15px;

                h3 {
                    font-size: 12px;
                    text-align: center;
                    font-family: 'Tenor Sans', sans-serif;
                    margin-top: 7px;
                }

                p {
                    color: #DD8560;
                    font-family: 'Tenor Sans', sans-serif;
                    margin-top: 5px;
                }
            }

            button {
                font-family: 'Tenor Sans', sans-serif;
                display: flex;
                justify-self: center;
                align-items: center;
                margin-top: 25px;
            }
        }
    }

    .section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .line {
            width: 125px;
            margin: 20px 0;

            img {
                width: 100%;
            }
        }

        .first,
        .second {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }
    }

    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        h1 {
            font-family: 'Tenor Sans', sans-serif;
            letter-spacing: 5px;
            color: #333333;
            font-weight: 450;
        }

        .collections1 {
            width: 100%;
            height: 240px;
            margin-top: 20px;
        }

        .collections2 {
            width: 259px;
            height: 296px;
            margin-top: 40px;
        }

        .collections3 {
            width: 100%;
            height: 176px;
            margin-top: 40px;
        }
    }

    .section5 {
        margin-top: 100px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-family: 'Tenor Sans', sans-serif;
                letter-spacing: 5px;
                color: #333333;
                font-weight: 450;
            }

            .line {
                width: 125px;
                margin-top: 20px;

                img {
                    width: 100%;
                }
            }
        }

        .jfy {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            .jfy1 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: 10px;

                h2 {
                    font-size: 15px;
                    text-align: center;
                    font-family: 'Tenor Sans', sans-serif;
                    margin-top: 7px;
                    font-weight: 400;
                }

                p {
                    color: #DD8560;
                    font-family: 'Tenor Sans', sans-serif;
                    margin-top: 6px;
                    font-size: 17px;
                }

                img {
                    width: 255px;
                    height: 312px;
                }
            }

            .jfy2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                width: 100%;

                img {
                    height: 312px;
                }

                h2 {
                    font-size: 15px;
                    text-align: center;
                    font-family: 'Tenor Sans', sans-serif;
                    margin-top: 7px;
                    font-weight: 400;
                    text-align: right;
                }

                p {
                    color: #fff;
                }
            }
        }

    }

    .section6 {
        margin-top: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: 'Tenor Sans', sans-serif;
            letter-spacing: 5px;
            color: #333333;
            font-weight: 450;
            margin-bottom: 20px;
        }

        .trending1,
        .trending2 {
            font-family: 'Tenor Sans', sans-serif;
            font-weight: 100;
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-top: 10px;

            p {
                background-color: #f2f2f2;
                border-radius: 20px;
                padding: 7px 12px;
            }
        }
    }

    .section7 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f2f2f2;
        margin-top: 50px;

        .logo {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 35px;

            img {
                width: 98px;
                height: 40px;
            }

            p {
                font-family: 'Tenor Sans', sans-serif;
                color: #555555;
                margin-top: 15px;
            }
        }

        .line {
            width: 125px;
            margin-top: 20px;
        }

        .lifestyle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;

            .up,
            .down {
                display: flex;
            }

            .up {
                gap: 20px;
            }

            p {
                font-family: 'Tenor Sans', sans-serif;
                color: #555555;
                text-align: center;
                font-size: 15px;
                margin-top: 12px;
            }

            .ls1,
            .ls2,
            .ls3,
            .ls4 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 18px;
            }

            .ls3,
            .ls4 {
                margin-top: 10px;
            }

            .ls1 {
                img {
                    width: 50px;
                    height: 35px;
                }
            }

            .ls2 {
                img {
                    width: 52px;
                    height: 37px;
                }
            }

            .ls3 {
                img {
                    width: 54px;
                    height: 38px;
                }
            }

            .ls4 {
                img {
                    width: 54px;
                    height: 38px;

                }
            }
        }

        .lll {
            width: 67px;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    .section8 {
        margin-top: 50px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-family: 'Tenor Sans', sans-serif;
                letter-spacing: 5px;
                color: #333333;
                font-weight: 450;
            }

            img {
                width: 24px;
                height: 24px;
                margin-top: 15px;
            }
        }

        .follow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 25px;

            img {
                width: 164px;
                height: 164px;
            }

            .follow1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }

            .follow2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin-top: 15px;

            }
        }
    }
}

.Footer_wrap {
    .link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        width: 150px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .line {
        width: 125px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    p{
        color: #333333;
        font-family: 'Tenor Sans', sans-serif;
        font-weight: 450;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.8;
    }

    .more{
        color: #333333;
        font-family: 'Tenor Sans', sans-serif;
        font-weight: 580;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 30px;
    }

    .copyright{
        background-color: #f2f2f2;
        color: #555555;
        font-family: 'Tenor Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        font-size: 13px;
    }
}