button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
}

.wrap{
    width: 375px;
    height: 100vh;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}